 <div id="post-show-content" class="skinny-wrapper wrapper-padding">
        <header>
            <p class="date"><%= @project.created_at.strftime('%A, %B %d') %></p>
            <h1><%= @project.title %></h1>
            <hr>
        </header>


        <div id="content">
           <%= markdown @project.description %>
		
			<%= link_to "Edit", edit_project_path(@project) %>
			<%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure?"} %>

				<div class="button-wrapper">
	           	 	<a href="<%= @project.link %>" class="project-button", target="_blank"> Visit <%= @project.title %> </a> 

	           </div> 
	        <hr>
        </div> 
 
	
 </div> 